<!-- partials/favourites.ejs -->
<form action="/favourites" method="POST" class="w-full">
  <input type="hidden" name="homeId" value="<%= home.id %>" />
  <button type="submit" class="btn-book w-full">Add to Favourite</button>
</form>
<!-- onclick="this.innerText='Home added to Favourite'" -->
